---
title: Middleman on Heroku!
---

<div class="welcome">
  <h1>Middleman on Heroku!</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
